{#
Template for an email message sent to authorize a password reset.
Variables passed to this template:
    user: The SimpleUser\User instance.
    resetUrl: The link to click to reset the password.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    {{ 'user.resetYourPassword' | trans }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

{{ 'user.resetYourPassword' | trans }}

{{ 'user.clickTheLinkToResetYourPassword' | trans }}:

{{ resetUrl }}


_______________________________________________________________
{{ 'user.didntAskToReset' | trans }}

{{ 'user.didntAskToResetNote' | trans }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>{{ 'user.resetYourPassword' | trans }}</h1>

    <p>
        {% autoescape false %}
            {{ 'user.pleaseClickHereToResetPassword' | trans({ '%resetUrl%': resetUrl }) }} 
        {% endautoescape %}
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>{{ 'user.didntAskToReset' | trans }}</strong>
        <br/>
        {{ 'user.didntAskToResetNote' | trans }}
    </p>

{%- endblock -%}
