{% extends layout_template  %}

{% block title %}{{ 'user.forgot_password_question' | trans | capitalize }}{% endblock %}

{% block content %}

    <h1>{{ 'user.forgot_password_question' | trans | capitalize }}</h1>

    <p class="text-muted lead">
        {{ 'user.enter_password_note' | trans | capitalize }}
    </p>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST" action="{{ path('user.forgot-password') }}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail">{{ 'user.your_email_address' | trans | capitalize }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="text" id="inputEmail" placeholder="{{ 'user.email' | trans | capitalize }}" required value="{{ email }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">{{ 'user.send_me_instructions' | trans | capitalize }}</button>
                <a href="{{ path('user.login') }}" style="margin-left: 10px;">{{ 'user.backToLogin' | trans | capitalize }}</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2" style="margin-top: 20px;">
                <hr/>
                {{ 'user.spamboxNote' | trans | capitalize }} {{ fromAddress }}.
            </div>
        </div>
    </form>


{% endblock %}
