<!DOCTYPE html>
<html lang="{{ app.translator.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">{{ 'user.Toggle navigation' | trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        
                        {% if ( app.translator.fallbackLocales | length ) > 1 %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ ('langs.' ~ app.translator.locale ) | trans }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for l in app.translator.fallbackLocales %}
                                            {% if app.translator.locale != l %}
                                                <li><a href="{{ '/' ~ l }}">{{ ( 'langs.' ~ l ) | trans }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                    </ul>

                            </li>
                        {% endif %}
                        
                        <li><a href="{{ path('user.list') }}">{{ 'user.listUsers' | trans }}</a></li>
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hello, {{ app.user.displayName }}!
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> {{ 'user.View your profile' | trans }}</a></li>
                                    <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'user.Edit your profile' | trans }}</a></li>
                                    <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> {{ 'user.Sign out' | trans }}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('user.login') }}">{{ 'user.Sign in' | trans }}</a></li>
                            <li><a href="{{ path('user.register') }}">{{ 'user.Create account' | trans }}</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            {% if app.session.flashbag.has('alert') %}
                {% for flashMessage in app.session.flashbag.get('alert') %}
                    <div class="alert alert-info">{{ flashMessage }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
