{% extends layout_template  %}

{% block title %}{{ 'user.listUsers' | trans }}{% endblock %}

{% block content %}

    <h1>{{ 'user.listUsers' | trans }}</h1>
    {% autoescape false %}
        {% if paginator.totalItems == 1 %}
            {{ 'user.oneUserFound' | trans }}
        {% else %}
            {{ 'user.numberOfUsersFound' | trans( { '%totalItems%' : paginator.totalItems } ) }}
        {% endif %}
    {% endautoescape %}

    {{ 'user.showing' | trans }} <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.

    {% for user in users %}

        <div class="media">
            <a class="media-object pull-left" href="{{ path('user.view', {'id': user.id}) }}">
                <img src="{{ user.imageUrl }}" width="40" height="40" border=0>
            </a>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ path('user.view', {'id': user.id}) }}">{{ user.displayName }}</a>
                </h4>

                {% if not user.isEnabled %}
                    <div>
                        <span class="label label-danger">{{ 'user.pendingConfirmation' | trans }}</span>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-muted">
                        {{ user.email }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    {{ paginator|raw }}

{% endblock %}
