{% extends layout_template  %}

{% block title %}{{ 'user.Sign in' | trans | capitalize }}{% endblock %}

{% block content %}

    {% if app.user %}
        <p>{{ 'user.hello' | trans | capitalize }}, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">{{ 'user.Sign out' | trans }}</a></p>

    {% else %}
        <h1>
            {{ 'user.Sign in' | trans }}
        </h1>

        <p class="text-muted lead">
            {{ 'user.not_registerd_question' | trans | capitalize }} <a href="{{ path('user.register') }}">{{ 'user.create_now' | trans | capitalize }}</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEmail">{{ 'user.email' | trans | capitalize }}</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_username" type="text" id="inputEmail" placeholder="{{ 'user.email' | trans | capitalize }}" required value="{{ last_username }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword">{{ 'user.password' | trans | capitalize }}</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_password" type="password" id="inputPassword" required placeholder="{{ 'user.password' | trans | capitalize }}">
                </div>
            </div>

            {% if allowRememberMe %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2 checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" value="true" checked> {{ 'user.remember' | trans | capitalize }}
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">{{ 'user.Sign in' | trans | capitalize }}</button>
                    {% if allowPasswordReset %}
                        <a style="margin-left: 10px;" href="{{ path('user.forgot-password') }}">{{ 'user.forgot_password_question' | trans | capitalize }}</a>
                    {% endif %}
                </div>
            </div>

        </form>

    {% endif %}
{% endblock %}